body {
	background-color: #eceff1;
}

.calculator {
	height: 100vh;
	max-width: 600px;
	min-width: 300px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.calculator__display {
	background-color: #bdbdbd;
	margin: 0.4%;
	font-size: 3em;
}

.calculator__display__content {
	margin: 2%;
}

.calculator__keypad {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.btn {
	width: 24%;
	margin: 0.5%;
}

.btn:nth-child(17), .btn:nth-child(18) {
	width: 49%;
}

.footer {
	display: inline-block;
	margin: 1%;
}
